*{
    color: white;
}

body{
    background-image: url('../img/bg1.png');
    background-size: cover;
    font-family: poppins;
}

/* Primeira parte */
#container1{
    max-width: 900px;
    margin: 0 auto;
}

/*HEADER*/
header{
    padding: 15px;
}

#logo{
    display: flex;
    justify-content: center;
}

#logo img{
    max-width: 140px;
}

/*APRESENTAÇÃO*/
#apresentacao{
    margin-top: 50px;
    margin-bottom: 30px;
}

.apresentacao-item{
    text-align: center;
}

#apresentacao h1{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: -2px 2px 6px #3e3e3e;
    margin-bottom: 10px;
}

#apresentacao p{
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 600;
    inline-size: 500px;
    overflow-wrap: break-word;
}

/*FORMULÁRIO*/
#formulario{
    text-align: center;
    max-width: 500px;
    background: #1a3254;
    padding: 35px 25px 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-weight: 500;
    margin: 0 auto;
    border-radius: 10px;
}

#formulario p{
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 500;
    max-width: 341px;
    margin: auto;
    text-align: center;
}

#formulario .input p{
    color: #ffdb60;
    font-weight: 600;
    font-size: 1.125rem;
    margin-bottom: 5px;
}

#formulario .input input{
    color: black;
    padding: 16px 24px;
    border-radius: 15px;
    border: none;
    width: 450px;
    box-shadow: 0 4px 4px rgb(0 0 0/25%);
}

#formulario .butao button{
    position: absolute;
    border: none;
    background: #af3589;
    height: 50px;
    width: 441px;
    top: 90%;
    border-radius: 20px;
    right: 5%;
    font-size: 1.5rem;
    font-weight: 600;
    animation: cima_baixo 5s ease-in-out infinite;
}

@keyframes cima_baixo{
    10%, 90% {
        transform: translateY(-4px);
    }
    20%, 80% {
        transform: translateY(4px);
    }
    30%, 50%, 70% {
        transform: translateY(-4px);
    }
    40%, 60% {
        transform: translateY(4px);
    }
}

#formulario .scrollable-menu{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#formulario .input-dropdown{
    display: flex;
    justify-content: space-around;
}

#formulario .input-dropdown input{
    text-align: start;
    color: black;
    background-color: white;
    padding: 16px 24px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 4px rgb(0 0 0/25%);
    margin-left: 10px;
}

#formulario .input-dropdown .input-dia{
    width: 127px;
}

#formulario .input-dropdown .input-mes{
    width: 200px;
}

#formulario .input-dropdown .input-ano{
    width: 127px;
}

/* Segunda parte */
/* Fundo escuro */
#black_bg{
    position: absolute;
    background-color: #000000a3;
    height: 100%;
    width: 100%;
    z-index: 10;
    text-align: center;
}

#black_bg .meio{
    margin-top: 15%;
}

#black_bg img{
    margin-top: 10px;
    margin-bottom: 10px;
    animation: pisca 2s infinite;
}

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

#black_bg .paragrafo{
    margin: 0 auto;
    inline-size: 693px;
    overflow-wrap: break-word;
    margin-bottom: 20px;
}

#black_bg button{
    border: none;
    background: #ff2b2b;
    height: 50px;
    width: 313px;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    transform: scale(1,1);
    animation: pequeno_grande 2s ease infinite;
}

@keyframes pequeno_grande{
    0%, 100%{
        transform: scale(1.1, 1.1);
    }
    50%{
        transform: scale(1, 1);
    }
}

#container2{
    max-width: 900px;
    margin: 0 auto;
}

/* Animação */
#animation_canvas{
    width: 100%;
    border: 1px solid gold;
    height: 490px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Player */
#player{
    padding: 20px;
    display: flex;
    width: 100%;
    background: #1a3254;
    height: 100px;
    border-radius: 35px;
}

#player a:hover{
    cursor: pointer;
}
